a:hover {
	color: red;
	text-decoration:underline;
}
a {
	color:#0000BB;
	text-decoration:none;
}
th {
	font-family: Arial, Helvetica, sans-serif;
	font-size:x-small;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: medium;
}
h2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:medium;
}
.had {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #777777;
	letter-spacing: 2px;
}
.had2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #AA112D;
	letter-spacing: 5px;
}
.had2p {
	font-family: "Courier New", Courier, mono;
	font-size: x-small;
	font-weight: bold;
	letter-spacing: 2px;
}
.had3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: bold;
	text-align:center;
	background-color: #FDF4DF;
	letter-spacing: 1px;
}
.had33 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12;
	text-align: center;
	background-color: #FDF4DF;
}
.had4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #AA112D;
	letter-spacing: 1px;
}
.had5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #FFFFFF;
	background-color: #AA112D;
}
.bodystyle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	margin: 0px;
	padding: 0px;
}
.medium {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.big {
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
	letter-spacing: 1px;
}
.xbig {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 24px;
}
.expanded {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
}
.justified {
	text-align: justify;
}
.footer {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #999999;
}
.box1 {
	padding: 3px;
	border-width: thin;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}
.box2 {
	font-style: italic;
	word-spacing: 2pt;
	padding: 3px;
	border-width: thin;
	border-style: solid;
}
.tabh {
	background-color: #FFFFFF;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
}
.shad {
	background-color: #FDF4DF;
	background-color: #B0AFAE;
}
.headline {
}

.newsdate {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	letter-spacing: 1px;
	color: #444444;
}
.newshead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	letter-spacing: 1px;
	font-weight:bold;
}
.newstext {
	background-color: #EDE4CF;
	background-color: #DCD3BE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
}
.menuText {
	text-decoration: none;
	color: #000099;
	font-family: Arial, Helvetica;
	font-size: 12px;
	letter-spacing: 1px;
}
.itemBorder {
	border: 1px solid green;
}
.itemText {
	text-decoration: none;
	color: #000000;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.bglight {
	background-color:#FDF4DF;
}
.tb1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #AA112D;
	letter-spacing: 1px;
}
.tb2 {
	font-size: small;
	background-color:#E0E0E0;
}
.tb2p {
	font-family: "Courier New", Courier, mono;
	font-size: small;
}
.tb22 {
	font-size: small;
	background-color:#C0C0C0;
}
.tb22p {
	font-family: "Courier New", Courier, mono;
	font-size: x-small;
}
.sm {
	font-size:x-small;
}
.smb {
	font-size: x-small;
	font-weight: bold;
}
.tb1sm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
	background-color: #AA112D;
}
.bod {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}
.bodb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight:bold;
}
.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	background-image:url(img/menu_bg.gif);
}
.bodi {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: small;
}
.error {
	color: red;
	font-weight: bold;
}
.calendar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: center;
}
.tree1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:medium;
	font-weight:bold;
}
.tree2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	font-weight:bold;
}
.tree3 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	font-weight:normal;
}
.gray {
	color: gray;
}
.black { color: black; }
.red { color: red; }
.green { color: green; }
.blue { color: blue; }
.bgred { background-color: red; }
.bgblue { background-color: blue; }
.bold {
	font-weight: bold;
}
.border {
	border: 1px solid green;
}
.menu0 {
	background-color: #EDE4CF;
}
.menu1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.menu2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}
.c1 {
	background-color: #AA112D;
}
.c2 {
	background-color: #FDF4DF;
}
.c3 {
	background-color: #DDD4BF;
}
.lightblue {
	background-color: #EDE4CF;
}
.audit {
	font-size: small;
	background-color:#E0E0E0;
}
.bold {
	font-weight: bold;
}
